---
import "../styles/global.css";
/* import components */
import Aside from "../components/Aside.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Skills from "../components/Skills.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Full Stack Developer especializado en aplicaciones web modernas, rendimiento y buenas prácticas. Portfolio con proyectos reales y tecnologías actuales."
    />
    <title>portafolio - JVG</title>
  </head>
  <body class="bg-slate-900 m-0 p-0">
    <Aside />
    <main
      class="bg-linear-to-bl from-slate-900 to-slate-700 min-h-screen transition-all duration-300"
    >
      <Hero />
      <About />
      <Skills />
      <Projects />
      <Contact />
      <Footer />
    </main>
  </body>
</html>
