<section id="about" class="py-15 text-justify bg-background-view">
  <div
    class="px-4 max-w-5xl mx-auto flex flex-col items-center gap-10
  md:px-15 md:max-w-full
  lg:px-0"
  >
    <h2
      class="text-foreground font-bold font-hero text-3xl border-b-4 border-b-card-accent"
    >
      Sobre mí
    </h2>

    <div
      class="flex flex-col gap-10 items-center justify-center
    lg:flex-row lg:gap-20"
    >
      <img
        src="/assets/profile/profile.webp"
        alt="Foto de Jhoyer"
        class="w-44 h-44 rounded-full object-cover
        lg:w-60 lg:h-60"
      />

      <div
        class="font-sans prose prose-stone prose-sm text-foreground md:prose-base"
      >
        <p>
          Soy Desarrollador Full Stack en formación y estudiante de octavo
          semestre de Informática en la UMSA.
        </p>
        <p>
          Mi enfoque se centra en crear soluciones web funcionales y escalables
          utilizando tecnologías como <strong class="text-foreground"
            >React y Node.js</strong
          >. A lo largo de mi carrera, he desarrollado sistemas de gestión
          complejos (como administración de edificios y control de inventarios),
          lo que ha fortalecido mis habilidades en lógica de negocio y
          arquitectura de bases de datos.
        </p>
        <p>
          Me defino como una persona responsable y en constante aprendizaje.
          Actualmente, busco integrarme a un equipo profesional donde pueda
          aplicar mis conocimientos técnicos de inmediato. Estoy interesado en
          oportunidades laborales que ofrezcan crecimiento profesional y
          condiciones que respalden mi etapa final universitaria.
        </p>
      </div>
    </div>
  </div>
</section>
