---
import GitHub from "../components/icons/skills/Github.astro";
import Linkedin from "../components/icons/skills/Linkedin.astro";
import Download from "../components/icons/Download.astro";
---

<section id="inicio" class="h-screen relative">
  <!-- contenido hero -->
  <div
    class="min-h-screen flex items-center px-8
  md:pb-0
  sm:px-15 sm:items-center
  lg:px-30"
  >
    <div class="z-20">
      <!-- Nombre -->
      <p
        class="text-foreground font-hero font-light text-3xl tracking-widest uppercase animate-fade-up animate-infinite
      md:text-4xl"
      >
        Jhoyer
      </p>

      <!-- Apellido -->
      <h1
        class="text-foreground font-hero font-extrabold text-5xl sm:text-6xl md:text-8xl leading-none uppercase"
      >
        Vega G.
      </h1>

      <!-- Profesión -->
      <p
        class="text-foreground font-hero font-light text-sm tracking-[0.35em] mt-4 uppercase
        md:text-base"
      >
        Desarrollador Web Full Stack
      </p>

      <!-- Botones -->
      <div class="flex gap-4 mt-8 items-center justify-start
      sm:gap-12">
        <a
          href="#about"
          class="px-6 py-2 border border-border rounded-full text-sm font-medium font-sans transition cursor-pointer hover:scale-110 duration-300
          bg-foreground text-background
          md:text-base"
        >
          Sobre Mí
        </a>
        <a
          href="#projects"
          class="px-6 py-2 border rounded-full text-sm font-medium font-sans transition cursor-pointer hover:scale-110 duration-300
          bg-linear-to-br from-accent to-secondary hover:bg-linear-to-bl text-background-foreground
          md:text-base"
        >
          Proyectos
        </a>
        <!-- boton download cv -->
        <div
          class="bg-btn-cv text-btn-cv-foreground rounded-full w-20 h-10 hover:scale-110 duration-300
           sm:w-24 sm:h-12
           md:w-24 md:h-14
           absolute top-5 right-5 z-10
           md:static"
        >
          <a
            href="/JhoyerVegaGuarachi-cv.pdf"
            download="JhoyerVegaGuarachi-cv.pdf"
            class="flex gap-2 items-center justify-center h-full w-full"
            area-label="Download CV"
          >
            <div class="size-5 animate-bounce mt-1">
              <Download />
            </div>
            <p class="text-sm my-auto">CV</p>
          </a>
        </div>
      </div>
    </div>
    <!-- links a linkedin y github -->
    <div
      class="w-auto flex gap-10 items-center justify-center absolute bottom-8 left-8 z-10
        sm:bottom-15 sm:left-15
        md:bottom-20 md:left-25 md:gap-20
        lg:bottom-0 lg:top-0 lg:right-30 lg:justify-end"
    >
      <div
        class="mt-8 w-10 h-10 text-[#007EBB] hover:scale-110 transition-transform duration-300
          sm:w-12 sm:h-12
          md:w-14 md:h-14"
      >
        <a
          target="_blank"
          href="https://www.linkedin.com/in/jhoyer-vega-guarachi-431b24342/"
          aria-label="LinkedIn link"><Linkedin /></a
        >
      </div>
      <div
        class="mt-8 rounded-full w-10 h-10 hover:scale-110 transition-transform duration-300
           sm:w-12 sm:h-12
           md:w-14 md:h-14"
      >
        <a
          target="_blank"
          href="https://github.com/jhoyer123"
          aria-label="GitHub link"
          class="hover:scale-3d"><GitHub /></a
        >
      </div>
    </div>
  </div>
  <!-- fondo hero -->
  <div class="hidden absolute inset-0 md:block z-0">
    <img
      src="/assets/images/fondos/fondodesktop.webp"
      alt="imagen de fondo hero desktop dark mode"
      class="hero-dark hidden w-full h-full object-cover contrast-90 brightness-50"
      loading="eager"
      decoding="async"
    />
    <img
      src="/assets/images/fondos/heroLigthDesktop.webp"
      alt="imagen de fondo hero desktop light mode"
      class="hero-light w-full h-full object-cover"
      loading="eager"
      decoding="async"
    />
  </div>
  <div class="absolute inset-0 md:hidden z-0">
    <img
      src="/assets/images/fondos/fondoMobile.webp"
      alt="imagen de fondo hero mobile dark mode"
      class="hero-dark hidden w-full h-full object-cover"
      loading="eager"
      decoding="async"
    />
    <img
      src="/assets/images/fondos/heroLigthMobile.webp"
      alt="imagen de fondo hero mobile ligth mode"
      class="hero-light w-full h-full object-cover"
      loading="eager"
      decoding="async"
    />
  </div>
</section>
